<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making the Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
    <section class="info">
        <header>
            <h2>About Tweetful</h2>
        </header>
        <p>Lorem ipsum blah blah blah. Blergy blerg blerg.</p>
    </section>



    <section class="info">
        <header>
            <h2>What Makes Us Different</h2>
        </header>
        <p>Lorem ipsum blah blah blah. Blergy blerg blerg.</p>
    </section>


    <section class="info">
        <header>
            <h2>Company History</h2>
        </header>
        <p>Lorem ipsum blah blah blah. Blergy blerg blerg.</p>
    </section>
</div>


<footer>
    Contact us: <span>admin@tweetful.io</span>
</footer>