<link rel="stylesheet" type="text/css" href="../css/style.css">
   <header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making the Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
    <section class="info">
        <header>
            <h2>Peter Lonestar</h2>
            <h3>Founder</h3>
        </header>
        <p>Lorem ipsum blah blah blah. Blergy blerg blerg.</p>
    </section>



    <section class="info">
        <header>
            <h2>Bill Billerson</h2>
            <h3>CFO</h3>
        </header>
        <p>Lorem ipsum blah blah blah. Blergy blerg blerg.</p>
    </section>


    <section class="info">
        <header>
            <h2>Bilbo Baggins</h2>
            <h3>CTO</h3>
        </header>
        <p>Lorem ipsum blah blah blah. Blergy blerg blerg.</p>
    </section>
</div>


<footer>
    Contact us: <span>admin@tweetful.io</span>
</footer>